header div
{
    margin: auto;
    width: 30vw;
    text-align: center;
    font-size: 1vw;
    background-color: #ccc;
    border-color: #bbb;
    border-style: solid;
    border-width: 5px;
}

main
{
    padding-top: 1vw;
    float: left;
    width: 100%;
}

button
{
    position: fixed;
    top: 5vw;
    left: 20vw;
}

button:nth-of-type(2n+1)
{
    left: 27.5vw;
}

#graveyard
{
    font-size: 1vw;
    float: left;
    width: 20vw;
    /*border-color: #000;
    border-style: solid;
    border-width: 2px;*/
    height: 40vw;
}

#graveyard div
{
    float: left;
    border-color: #555;
    border-style: solid;
    border-width: 2px;
    height: 50%;
    width: 100%;
}

#chessBorder
{
    width: 40vw;
    height: 40vw;
    margin: auto;

    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#board
{
    padding-top: 4vw;
    width: 32vw;
    height: 32vw;
    margin: auto;
}

.boardTile
{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;

    box-sizing: border-box;
    width: 4vw;
    height: 4vw;
    text-align: center;
    line-height: 4vw;
    float: right;
}

#clock
{
    position: fixed;
    top: 25vh;
    right: 5vw;
    width: 15vw;
    float: right;
    border-color: #000;
    border-style: solid;
}

#clock div
{
    font-size: 1vw;
    border-color: #555;
    border-style: solid;
}

footer
{
    clear: both;
    padding-top: 0.1vw;
}