header
{
    width: 25vw;
    margin: auto;
}

.logo
{
    width: 7.5vw;
    height: 7.5vw;
    background-image: url(../images/Logo.png);
    background-size: 5vw;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#gameName
{
    padding-top: 1.5vw;
    margin: auto;
    text-align: center;
    width: 10vw;
    height: 7.5vw;
    float: left;
}

#mainName h1
{
    line-height: 1vw;
}

main
{
    clear: both;
}

#menu
{
    padding-top: 10vw;
    float: left;
    width: 15vw;
}

#menu ul
{
    list-style: none;
}

#menu ul li
{
    padding-left: 1vw;
    text-indent: -2vw;
}

#menu ul li button
{
    display: inline-block;
    width: 100%;
    font-size: 0.9vw;
}

#info
{
    float: left;
    border-color: #555;
    border-style: solid;
    border-width: 5px;
    width: 40vw;
    height: 30vw;
    text-align: justify;
    padding: 1vw;
}

#chesspiece
{
    float: left;
    width: 5vw;
    height: 5vw;
}